{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>John Eldredge - Wild at heart</h2>
    <p>
  Eldredge daje w książce wskazówki, jak pokierować swoim życiem by mieć poczucie spełnienia.<br/>
  Dla autora mężczyzna to "urodzony wojownik", który potrzebuje wolności i swobody. Do natury<br/>
  mężczyzny należy też podejmowanie ryzyka.<br/>
Strategia stawania się mężczyzną zaczyna się według książki od poznania rany <br/>
która nas blokuje, wyzbycia się jej oraz kontrataku.<br/>
Autor przekonuje, że Bóg uosabia to, czego najgłębiej pragniemy. <br/>
To uczucie pierwotne to potrzeba miłości, tęsknota, potrzeba wartości.
    </p>
</article>
{% endblock %}
