{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Aleksander Kamiński - Kamienie na szaniec</h2>
    <p>
  Aleksander Kamiński opisuje charakter i usposobienie każdego z głównych bohaterów,<br/>
  ich pasje oraz rodzinne domy. Poczucie obowiązku nie pozwala im stać z boku, dlatego <br/>
  aktywnie poszukują swojego miejsca wśród walczących z okupantem. W październiku 1939<br/>
  przystępują do Polskiej Ludowej Akcji Niepodległościowej (PLAN). Tam zajmują się <br/>
  propagandą uliczną. Nalepiają karteczki na obwieszczeniu gubernatora Hansa Franka<br/>
  o utworzeniu Generalnego Gubernatorstwa, na których widnieją słowa: „Marszałek Piłsudski<br/>
  powiedziałby: a my was wszyscy w d.... mamy”. Później, w grudniu 1939, gazują luksusowy <br/>
  lokal „Adrię”.<br/><br/>

Z PLAN-u odeszli miesiąc przed jego katastrofą, ponieważ uznali, że nie pasują do <br/>
tej organizacji. Znów szukają swojego miejsca, chwytając się w międzyczasie różnego <br/>
rodzaju zadań, m.in. kolportażu prasy. W tym czasie podejmują się również różnego <br/>
rodzaju prac zarobkowych, wybierając takie zajęcia, które wiążą się z jakimś pożytkiem<br/>
dla społeczeństwa. Początkowo wszyscy trzej zajmują się szklarstwem, na które było <br/>
ogromne zapotrzebowanie. Potem ich drogi się rozchodzą. Rudy zajmuje się udzielaniem<br/>
korepetycji, natomiast Alek uruchamia rikszę, a później zostaje drwalem. Zośka z <br/>
kolei zajmuje się wyrobem marmolady. Nawiązują również współpracę z tzw. <br/>
Komórką Andrzeja. Ich praca polega na dostarczaniu grypsów więziennych.<br/><br/>

Organizują spotkania dyskusyjne i każdego dnia przerabiają wyznaczony<br/>
sobie materiał. W marcu 1941 udaje im się związać z akcją Małego sabotażu, <br/>
którą prowadził Wawer, by półtora roku później przejść do Grup Szturmowych.<br/><br/>

Po aresztowaniu Janka Bytnara „Rudego” przez Gestapo, „Zośka” podejmuje działania<br/>
w celu odbicia przyjaciela. 26 marca 1943 zostaje przeprowadzona akcja pod Arsenałem.<br/><br/>
    </p>
</article>
{% endblock %}