{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Magdalena by Jan Dobraczyński</h2>
		<p>
    Po raz siódmy Jan Dobraczyński sięgnął w swojej twórczości do tematyki biblijnej.<br />
Tym razem bohaterką jego powieści jest Maria Magdalena, którą pisarz identyfikuje — opierając się na starej tradycji Kościoła na Zachodzie — z Marią, siostrą Marty i Łazarza z Betanii.<br />
Maria, zwana Magdaleną (być może od miasteczka Magdala, inaczej Magadan lub Dalmanta, leżącego nad jez. Galilejskim na północ od Tyberiady) była „lekkomyślną siostrą" cnotliwego rodzeństwa. Opuściła dom rodzinny, przeżyła różne przygody, które sprawiły, że popadia w moc „siedmiu duchów nieczystych". Potem napotkała Jezusa, doznała oczyszczenia i, ze względu na swą miłość, wielkiej laski, stając się, tą, która przyniosła apostołom wieść o zmartwychwstaniu i o wezwaniu Chrystusa. Kościół prawosławny nie bez racji nadaje Magdalenie tytuł „apostołki". Jest to piękna nobilitacja kobiety, która na równi z mężczyznami została wezwana, aby była świadkiem Ewangelii.<br />
Dalsze dzieje Magdaleny są nieznane. Liczne legendy i opowieści czynią z niej pustelnicę, która dokonała życia w grocie. Inne twierdzą, że przybyła wraz z uchodźcami żydowskimi do Galii, gdzie powstała wielka kolonia żydowska. Wg pewnych utworów (np. The Holy Blood Beigenta, Leigha i Lincolna) to właśnie ta żydowska kolonia, wciąż rosnąca — a zarazem przenikająca do ludności miejscowej — dała początek dynastii Merowingów i prawie wszystkim wielkim rodom Francji. Magdalena miałaby być matką królewskiego rodu.<br />
Dobraczyński nie dotyka tych — wątpliwych historycznie — spraw. Jego Magdalena jest kolejno współpracownicą Marka, Piotra, Pawła i Łukasza. Ponosi śmierć w katastrofie, jaka zniszczyła Pompeje w roku 79-tym. Jest to, oczywiście, swobodna, literacka koncepcja. Powieść jest historycznie prawdziwa jedynie w okresie zetknięcia bohaterki z Jezusem ewangelicznym.<br />
Łącząc fikcję literacką z historią, Dobraczyński przedstawił barwne dzieje upadku, oczyszczenia i uświęcenia człowieka na tle mało na ogół znanego pierwszego stulecia naszej ery.
		</p>
</article>
{% endblock %}
