{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Mężczyzną i niewiastą stworzył ich. Odkupienie ciała a sakramentalność małżeństwa by Jan Paweł II</h2>
		<p>
			Rozważania zawarte w tej książce zostały wygłoszone przez Ojca Świętego Jana Pawła II<br/>
			podczas środowych audiencji ogólnych 5.IX.1979-2.IV.1980 ; 11.XI.1981-9.II.1983; 23.V.-28.XI. 1984 roku.
		</p>
</article>
{% endblock %}
