{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>On The Road by Jack Kerouac</h2>
    On the Road is a novel by American writer Jack Kerouac, based on the<br />
    travels of Kerouac and his friends across America. It is<br />
    considered a defining work of the postwar Beat and Counterculture<br />
    generations, with its protagonists living life against a backdrop<br />
    of jazz, poetry, and drug use. The novel is a roman à clef, with many<br />
    key figures in the Beat movement, such as William S. Burroughs<br />
    (Old Bull Lee) and Allen Ginsberg (Carlo Marx) represented by characters<br />
    in the book, including Kerouac himself, as the narrator Sal Paradise.<br />
</article>
{% endblock %}
