{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Snow Crash - Neal Stephenson</h2>
Snow Crash is Neal Stephenson's third novel, published in 1992.<br />
Like many of Stephenson's other novels it covers history, linguistics,<br />
anthropology, archaeology, religion, computer science, politics,<br />
cryptography, memetics and philosophy.<br />
<br />
Stephenson explained the title of the novel in his 1999 essay In the Beginning...<br />
was the Command Line as his term for a particular software failure mode on the<br />
early Apple Macintosh computer. Stephenson wrote about the Macintosh that<br />
"When the computer crashed and wrote gibberish into the bitmap, the result<br />
was something that looked vaguely like static on a broken television set—a 'snow crash' ".<br />
Stephenson also mentioned a book by Julian Jaynes, The Origin of Consciousness<br />
in the Breakdown of the Bicameral Mind, as one of the main influences for Snow Crash.<br />
<br />
The book presents the Sumerian language as the firmware programming language for<br />
the brainstem, which is supposedly functioning as the BIOS for the human brain.<br />
According to characters in the book, the goddess Asherah is the personification<br />
of a linguistic virus, similar to a computer virus. The god Enki created a counter-program<br />
which he called a nam-shub that caused all of humanity to speak different languages<br />
as a protection against Asherah (a re-interpretation of the ancient Near Eastern story<br />
of the Tower of Babel).<br /><br />

Snow Crash was nominated for both the British Science Fiction Award in 1993,<br />
and the Arthur C. Clarke Award in 1994.[3]<br /><br />
</article>
{% endblock %}
