{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2> MacDougall Christopher-Urodzeni biegacze</h2>
    <p>
  Autor, dziennikarz wojenny, zajmujący się sportami ekstremalnymi, w wieku 40 lat zaczyna biegać.<br/>
  Niestety trapią go kontuzje. <br/>
  Wysłany do Meksyku dowiaduje się przypadkiem o plemieniu  Tarahumara.  <br/>
  Indianie ci, zwani także Rarámuri (Biegający Ludzie), mieszkają z dala od cywilizacji, w głęboko ukrytym kanionie i potrafią biegać na dystansach kilkuset kilometrów. Znamienne jest to, że kontuzje prawie im się nie zdarzają, a biegają w prostych sandałach własnej konstrukcji. Autor poznaje tajemnice Tarahumara, przedstawia najwybitniejszych biegaczy i najtrudniejsze, górskie maratony. <br/>
  W końcu, staruje w finałowym, morderczym wyścigu.<br/>
Christopher McDougall sięgając do początków ludzkości wyjaśnia że zostaliśmy stworzeni do biegania, aby móc polować. Tłumaczy jak buty sportowe mogą wywoływać kontuzje i jak ich uniknąć.
    </p>
</article>
{% endblock %}
